* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    background-color: #fff;
    top: 0;
    transition: top 0.3s;
    font-weight: bold;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    height: 80px;
    top: 10px;
}

.logo:hover {
    height: 81px;
}

#site-name {
    margin: 20px 0 0 5px;
    width: 120px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a:hover {
    border-bottom: 4px solid #16364d;
}

.nav-links a {
    color: #16364d;
    text-decoration: none;
    font-size: 30px;
}

.header-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.banner, .subbanner {
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    color: #fff;
}

.banner {
    margin-top: 40px;
    background-image: url('assets/banner.jpg');
    font-size: 35px;
}

.subbanner {
    margin-top: 40px;
    background-image: url('assets/subbanner.jpg');
    font-size: 22px;
    text-align: right;
    align-items: flex-end;
}

.subbanner h1 {
    margin-bottom: 15px;
}

.info-section {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    font-size: 23px;
    color: #16364d;
    margin-bottom: -90px;
}

.info-block {
    display: flex;
    gap: 20px;
}

.info-block img {
    width: 200px;
    height: auto;
}

.reverse {
    flex-direction: row-reverse;
}

footer {
    background-color: #ffffff;
    color: #16364d;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

footer a {
    color: #16364d;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

header .btn{
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid #245770;
    color: #245770;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.banner-buttons .btn {
    padding: 10px 100px;
    background-color: transparent;
    border: none;
    color: #76c8e8;
    cursor: pointer;
    font-size: 30px;
    text-decoration: underline;
    margin-left: -95px;
}

.subbanner-buttons .btn {
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid #76c8e8;
    color: #76c8e8;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    margin-right: 60px;
}

header .btn:hover{
    border: 3px solid #245770ca;
}

.banner-buttons .btn:hover {
    color: #76c8e8c6;
}

.subbanner-buttons .btn:hover {
    border: 3px solid #76c8e8c6;
}

.profile-pic {
    height: 80px;
}

.profile-text {
    margin-top: 35px;
    margin-left: 10px;
    color: #16364d;
}